<% if flash[:errors] %>
    <% flash[:errors].each do |message| %>
        <h4 style="color: red;"> Error: <%= message %> </h4>
    <% end %>
<% end %>
<%= form_for @bedroom do |f| %>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.label :size, "Size: " %>
    <%= f.number_field :size %><br>

    <%= f.label :room_style_id, "Style: " %>
    <%= f.collection_select :room_style_id, RoomStyle.all, :id, :style %>

    <%= f.label :house, "Select which houses you would like to add this room to." %>
    <br>
    <%= f.collection_check_boxes :house_ids, current_user.houses, :id, :house_name%>
    <br>
    <br>
    <%= f.submit %>
<% end %>
<br>
<% if @bedroom.persisted? %>
    <%= link_to  "Back", bedroom_path(@bedroom) %>
<% else %>
    <%= link_to  "Back", bedrooms_path %>
<% end %>