<ul>
<% if !@bathroom.errors.empty? %>
    <% @bathroom.errors.full_messages.each do |message|%>
        <li><%= message %></li>
    <% end %>
<% end %>
</ul>

<br>

<%= form_with(model: @bathroom) do |f|%>
    <%= f.label :'What is the Size of the Bathroom?'%>
    <%= f.number_field :size, in: 1.0..10000.0%> <br>

    <%= f.label :'Is this Bathroom a Half Bath?'%>
    <%= f.check_box :half%> <br>

    <%= f.collection_select :room_style_id, RoomStyle.all, :id, :style%> <br>

    <%= f.submit %>
<% end %>
<br>
<% if @bathroom.persisted? %>
    <%= link_to  "Back", bathroom_path(@bathroom) %>
<% else %>
    <%= link_to  "Back", bathrooms_path %>
<% end %>

