<h2> Create Account</h2>

<ul>
<% if !@user.errors.empty? %>
    <% @user.errors.full_messages.uniq.each do |message|%>
        <li><%= message %></li>
    <% end %>
<% end %>
</ul>

<%=form_for(@user) do |f|%>
    <%= f.label :'What Is Your First Name?'%>
    <%= f.text_field :show_name%>
    <br>
    <%= f.label :'What Do You Want To Be Your Unique Username?'%>
    <%= f.text_field :name%>
    <br>
    <%= f.label :'What Is Your Email?'%>
    <%= f.text_field :email%>
    <br>
    <%= f.label :password%>
    <%= f.password_field :password%>
    <br>
    <%= f.label :password_confirmation%>
    <%= f.password_field :password_confirmation%>
    <br> 
    <%= f.submit "Sign Up", class: "btn btn-default"%>
<%end%>

<%= link_to "Return to the Main Page", logout_path%>