<ul>
<% flash.each do |type, msg| %>
    <li><%= msg %></li>
<% end %>
</ul>

<ul>
<% if @other_user.deactivated %>
    <li>This User's Account Has Been Deactivated</li>
<% end %>
</ul>

<h1>This is <%=@other_user.show_name%>'s page</h1>
<h2>These Are <%=@other_user.show_name%>'s Kitchens:</h2>
<ul>
<% if @other_user.kitchens.count == 0%>
    <li>This User Doesn't Have Any Kitchens</li> <br>
<% else %>
    <% @other_user.kitchens.each do |kitchen|%>
        <%= link_to "Click Here To View The Kitchen", kitchen_path(kitchen)%> <br>
    <% end %>
    <br>
<% end %>
<br>
</ul>

<h2>These Are <%=@other_user.show_name%>'s Bathrooms:</h2>
<ul>
<% if @other_user.bathrooms.count == 0 %> 
    <li>This User Doesn't Have Any Bathrooms</li> <br>
<% else %>
    <% @other_user.bathrooms.each do |bathroom|%>
        <%= link_to "Click Here To View The Bathroom", bathroom_path(bathroom)%> <br>
    <% end %>
    <br>
<% end %>
<br>
</ul>

<h2>These Are <%=@other_user.show_name%>'s Garages: </h2>
<ul>
    <% if @other_user.garages.count == 0 %> 
        <li>You Dont Have Any Garages. </li>
    <% else %>
        <% @other_user.garages.each do |garage|%>
            <li> <%= link_to "View This Garage", garage_path(garage) %> </li>
        <% end %>
    <% end %>
</ul>
<br>

<h2>Here Are All Of <%=@other_user.show_name%>'s Bedrooms: </h2>
<ul>
    <% if @other_user.bedrooms.count == 0 %> 
        <li>You Dont Have Any Bedrooms.</li>
    <% else %>
        <% @other_user.bedrooms.each do |bedroom|%>
            <li> <%= link_to "View This Bedroom", bedroom_path(bedroom) %> </li>
        <% end %>
    <% end %>
</ul>
<br>

<h2>Here Are All Of <%=@other_user.show_name%>'s Other Rooms: </h2>
<ul>
    <% if @other_user.other_rooms.count == 0 %> 
        <li>You Dont Have Any Other Rooms.</li>
    <% else %>
        <% @other_user.other_rooms.each do |room|%>
            <li> <%= link_to "View This Other Room", other_room_path(room) %> </li>
        <% end %>
    <% end %>
</ul>
<br>
