<ul>
<% if !@kitchen.errors.empty? %>
    <% @kitchen.errors.full_messages.each do |message|%>
        <li><%= message %></li>
    <% end %>
<% end %>
</ul>

<br>

<%= form_for(@kitchen) do |f|%>
    <%= f.hidden_field :user_id, value: current_user.id%>

    <%= f.label :'What is the Size of the Kitchen?'%>
    <%= f.number_field :size%> <br>

    <%= f.collection_select :room_style_id, RoomStyle.all, :id, :style%> <br>
    
    <%= f.collection_check_boxes :house_ids, current_user.houses, :id, :house_name%>
    <br>
    <br>

    <%= f.submit %>
<% end %>
<br>
<% if @kitchen.persisted? %>
    <%= link_to  "Back", kitchen_path(@kitchen) %>
<% else %>
    <%= link_to  "Back", kitchens_path %>
<% end %>
