<h1>Here is the Kitchen, <%= current_user.show_name%> </h1>

<ul>
<% flash.each do |type, msg| %>
    <li><%= msg %></li>
<% end %>
</ul>

<h2>The Creator of This Design is: <%=link_to @kitchen.user.show_name, user_path(@kitchen.user)%> </h2>

<h2>This Kitchen is of the <%=@kitchen.room_style.style%> style
and is <%=@kitchen.size%> square feet. </h2>
<h3>This Kitchen is part of <%=@kitchen.houses.count%> houses at the moment.</h3>
<% @kitchen.houses.each do |house|%>
    <%= link_to "View House no. #{house.id}", house_path(house)%> <br>
<% end %>
<br>

<%= link_to "Make a new Kitchen", new_kitchen_path%> <br>

<% if @current_user_boolean %>
    <%= link_to "Edit This Kitchen", edit_kitchen_path(@kitchen)%> <br>
    <%= link_to "Delete This Kitchen", kitchen_path(@kitchen), method: :delete%> <br>
<% end %>

<%= link_to "View All Kitchens", kitchens_path%>