<!DOCTYPE html>
<html>
  <head>
    <title>Mod2FinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= link_to "Log Out", logout_path%>
    <span style="margin-left: 1em;">
    <%= link_to current_user.show_name, user_path(current_user)%>
    </span>
    <span style="margin-left: 1em;">
      <%= link_to "Houses", houses_path%>
    </span>
    <span style="margin-left: 1em;">
      <%= link_to "Kitchens", kitchens_path%>
    </span>
    </span>
    <span style="margin-left: 1em;">
      <%= link_to "Bathrooms", bathrooms_path%>
    </span>
    <span style="margin-left: 1em;">
      <%= link_to "Garages", garages_path%>
    </span>
    <span style="margin-left: 1em;">
      <%= link_to "Bedrooms", bedrooms_path%>
    </span>
    <span style="margin-left: 1em;">
      <%= link_to "Other Rooms", other_rooms_path%>
    </span>
    <span style="margin-left: 1em;">
      <%= link_to "Room Styles", room_styles_path%>
    </span>

    <%= yield %>
  </body>
</html>
